/***** MAIN SETTINGS *******/

* {
    margin: 0;
    padding: 0
}

p,
label,
a {
    color: #333333;
    line-height: 1.5;
    font-size: 13px;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif；
}

a.here {
    font-weight: bold;
}

ul {
    list-style: none;
}

a {
    color: #035389;
    text-decoration: none;
}

a:hover {
    color: #649805;
}

h2 a,
h2 {
    margin: 0;
    font-size: 19px;
    font-family: museo, georgia, san-serif;
}


/**************** MAIN STRUCTURE **********/

#container {
    margin: 0 auto;
    width: 1000px;
    background: #fff;
}

#header {
    background: #ccc;
    padding: 20px;
}

#header h1 a {
    margin: 0;
    font-size: 37px;
    font-family: museo, georgia, san-serif;
}

.slogan {
    font-weight: bold;
    color: #EAEAEA;
}

#navigation {
    float: left;
    width: 1000px;
    background: #333;
}

.greeting {
    color: #E0E0E0;
    float: right;
    padding: 3px 10px 0px 0px;
}

#navigation ul {
    margin: 0;
    padding: 0;
}

#navigation ul li {
    display: inline;
}

#navigation li a {
    display: block;
    float: left;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #fff;
}

#navigation li a:hover {
    background: #383;
}

#content-container {
    float: left;
    width: 1000px;
    background: #fff url(images/layout-three-fixed-background.gif) repeat-y 100% 0;
}

#section-navigation {
    float: left;
    width: 160px;
    padding: 20px 0;
    margin: 0 20px;
    display: inline;
}

#section-navigation ul li {
    margin: 5px 0px;
    padding: 0;
}

.pages {
    list-style: square;
    margin: 0 0 0 20px;
}

#content {
    float: left;
    width: 530px;
    padding: 20px 0;
    margin: 0 0 0 15px;
}

#content .meta {
    font-size: 11px;
    color: #666;
    float: right;
}

#aside {
    float: right;
    width: 207px;
    padding: 10px 0;
    margin: 0 20px 0 0;
}


/***** SIDEBAR *****/

.box {
    margin: 15px 0px;
}

.box h2 {
    margin: 0px 0px 15px 0px;
}

.latest {
    padding: 10px;
    background-color: #EFEFEF;
}

.box li {
    border-bottom: 1px solid #6DC2FF;
    padding: 8px 0px;
}

#content .post {
    margin: 15px 0px;
    overflow: hidden;
}

.post {
    border-bottom: 1px dotted #666;
    position: relative;
}

.comments a {
    display: block;
    width: 46px;
    height: 43px;
    background: url(images/bubble.png) no-repeat top left;
    text-align: center;
    padding: 7px 0px 0px;
    font-weight: bold;
    position: absolute;
    top: 1px;
    right: 0px;
}

#content p {
    margin: 10px 0px;
}

.u_info {
    margin: 5px 0px;
}

.u_info img {
    margin: 8px;
}

.website {
    display: none;
    visibility: hidden;
}

#footer {
    clear: both;
    background: #ccc;
    text-align: right;
    padding: 20px;
}

.footer-links li {
    display: inline;
    margin: 0 5px;
}


/******* FORM **********/

legend {
    color: #000;
    background-color: #FFCBA0;
    padding: 3px 23px;
    border-radius: 5px;
}

fieldset {
    border: 1px solid #FFCBA0;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
}

fieldset div {
    margin: 10px 0px;
}

label {
    display: block;
    width: 30em;
    font-weight: bold;
    margin: 0px 15px 5px 0px;
}

textarea {
    border: 1px solid #ccc;
    height: 400px;
    padding: 5px
}

input[type="text"] {
    padding: 3px;
    width: 200px;
}


/****** COMMENT SECTION *********/

#disscuss {
    margin: 20px 15px;
    list-style: decimal inside;
}

#disscuss li {
    border: 1px solid #FFCBA0;
    background-color: #FCEFE3;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px 0px;
    overflow: hidden;
}

#disscuss .author {
    font-weight: bold;
}

.date {
    float: right;
    padding: 0px 5px;
    font-size: 11px;
}

.comment-wrap {
    position: relative;
}

a.remove {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: red;
}


/* izCMS classes */

.error {
    font-weight: bold;
    color: #C00;
    text-align: center;
}

.success {
    font-weight: bold;
    color: green;
    text-align: center;
}

.warning {
    font-size: 11px;
    color: #c00;
    text-align: center;
}

.required {
    color: #c00;
}

.selected {
    font-weight: bold;
}

.avatar {
    width: 60px;
    height: 60px;
    float: left;
    margin: 0 25px 0px 0px;
    border: 1px solid #c1c1c1;
    padding: 3px;
    background-color: white;
}

.not-avai {
    color: red;
}

.avai {
    color: green;
    font-weight: bold;
}

.avatar {
    width: 60px;
    height: 60px;
    float: left;
    margin: 0 25px 0px 0px;
    border: 1px solid #c1c1c1;
    padding: 3px;
    background-color: white;
}

input.change {
    width: 100px;
}


/****** PAGINATION *******/

.pagination {
    list-style: none;
    text-align: center;
}

.pagination li {
    display: inline;
    margin: 0px 5px;
}

.pagination li {
    display: block;
    float: left;
    padding: 0 5px;
    border: 1px solid #649805;
    margin: 0px 5px;
}


/******* TABLE LAYOUT *********/

table {
    margin: 1em;
    border-collapse: collapse;
}

td,
th {
    padding: .3em;
    border: 1px #ccc solid;
}

thead {
    background: #fc9;
}

tbody a.delete {
    color: #C40303;
}

tbody a.edit {
    color: #2E87AD;
}