* {
    margin: 0;
    padding: 0
}

p,
label,
a {
    color: #333333;
    line-height: 1.5;
    font-size: 13px;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif；
}

ul {
    list-style: none;
}

a {
    color: #035389;
    text-decoration: none;
}

a:hover {
    color: #649805;
}

h2 a,
h2 {
    margin: 0;
    font-size: 19px;
    font-family: museo, georgia, san-serif;
}

#container {
    margin: 0 auto;
    width: 1000px;
    background: #fff;
}

#header {
    background: #ccc;
    padding: 20px;
}

#header h1 a {
    font-size: 24px;
    font-family: museo, georgia, san-serif;
}

#navigation {
    float: left;
    width: 1000px;
    background: #333;
}

.greeting {
    color: #E0E0E0;
    float: right;
    padding: 3px 10px 0px 0px;
}

#navigation ul {
    margin: 0;
    padding: 0;
}

#navigation ul li {
    display: inline;
}

#navigation li a {
    display: block;
    float: left;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #fff;
}

#navigation li a:hover {
    background: #383;
}

#content-container {
    float: left;
    width: 1000px;
    background: #fff url(images/bg.jpg) repeat-y 100% 0;
    overflow: hidden;
}

#section-navigation {
    float: left;
    width: 160px;
    padding: 20px 0;
    margin: 0 20px;
    display: inline;
}

#section-navigation ul li {
    margin: 5px 0px;
    padding: 0;
}

.pages {
    list-style: square;
    margin: 0 0 0 20px;
}

#content {
    float: left;
    width: 785px;
    padding: 15px 0;
    margin: 0 0 0 10px;
}

#content h2 {
    margin: 0;
}

#aside {
    float: right;
    width: 200px;
    padding: 20px 0;
    margin: 0 20px 0 0;
    display: inline;
}

#aside h3 {
    margin: 0;
}

#footer {
    clear: left;
    background: #ccc;
    text-align: right;
    padding: 20px;
}


/******* FORM **********/

legend {
    color: #000;
    background-color: #FFCBA0;
    padding: 3px 23px;
    border-radius: 5px;
}

fieldset {
    border: 1px solid #FFCBA0;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
}

fieldset div {
    margin: 10px 0px;
}

label {
    display: block;
    width: 30em;
    font-weight: bold;
    margin: 0px 15px 5px 0px;
}

textarea {
    border: 1px solid #ccc;
    height: 400px;
    padding: 5px
}

input[type="text"] {
    padding: 3px;
    width: 200px;
}


/* izCMS */

.error {
    font-weight: bold;
    color: #C00;
    text-align: center;
    margin: 10px 0;
}

.success {
    font-weight: bold;
    color: green;
    text-align: center;
    margin: 10px 0;
}

.warning {
    font-size: 11px;
    color: #c00;
    text-align: center;
    margin: 10px 0;
}

.required {
    color: #c00;
}

.pages {
    margin: 0 0 0 20px;
}

.delete a {
    float: right;
    color: #c00;
    text-decoration: underline;
}

.selected {
    font-weight: bold;
}

a.here {
    font-weight: bold;
}

table {
    margin: 15px 0;
    border-collapse: collapse;
}

td,
th {
    padding: .3em;
    border: 1px #ccc solid;
}

thead {
    background: #fc9;
}

tbody a.delete {
    color: #C40303;
}

tbody a.edit {
    color: #2E87AD;
}

.footer-links li {
    display: inline;
    margin: 0 5px;
}